* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* more on this crazy alphanumerical value in a minute! */
   background-color: rgb(7, 26, 51);
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
  }
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 22, 175);
    width:100%;
    height: 10%;
    position:relative
}


header div a{
    text-align: center;
    display:flex;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 200px;
     float:right;
    font-size: small;
    font-weight: bold;
    color:#ffffff;

}


a{
    text-decoration:none;
}
ul{
    list-style: none;
    font-size: larger;
}
ul li:before {
    content: '✓';
  }
#first{
    height:100%vh;
    background-image: url(../images/DTown.jpg);
}